html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
.patient,
.doctor{
    display: flex;
}

.md-form{
    margin: 2em;
}

.card{
    margin: 2em;
}

.container{
    display: flex;
}